<header>
  <nav class="nabvar">
    <div class="d-flex justify-content-around align-items-center p-3">
      <div>
        <img
          class="img-fluid"
          src="assets/images/logo.svg"
          alt="primary-logo"
        />
      </div>
      <div class="d-flex gap-4">
        <a
          class="nav"
          routerLink="/"
          routerLinkActive="focus"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a class="nav" routerLink="/recipes/about" routerLinkActive="focus"
          >About</a
        >
        <a class="nav" routerLink="/recipes/index" routerLinkActive="focus"
          >Recipes</a
        >
      </div>
      <div>
        <input class="btn btn-info" value="Browse Recipes" />
      </div>
    </div>
  </nav>
</header>
<main class="heroContainer">
  <router-outlet />
</main>
<footer></footer>
